In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import requests
import os

In [2]:
driver=webdriver.Chrome('D:\Desktop4\DataFiles\Web_scaping\chromedriver.exe')

In [4]:
import pandas as pd
df=pd.DataFrame(movies_data)

In [3]:
http_address="https://www.imdb.com/chart/top/?ref_=nv_mv_250"

movies_data = {}

#news_data['article_url']=[]
#product_data['article_body_full']=[]

movies_data['title']=[]
movies_data['rating']=[]
movies_data['Director'] = []
movies_data['Writers'] = []
movies_data['Stars'] = []
#movies_data['body_text']=[]

#for page in range(6,8):
driver.get(http_address)      
article_url = driver.find_elements_by_xpath("//tbody[@class='lister-list']//td[@class='titleColumn']//a")       
urls=[]  
for i in article_url:
        urls.append(i.get_attribute('href'))
for i in urls[0:101]:
        driver.get(i)
        movies_data['title'].append(driver.find_element_by_xpath("//div[@class='title_wrapper']//h1").text)
        movies_data['rating'].append(driver.find_element_by_xpath("//div[@class='ratingValue']//span").text)
        article_url = driver.find_elements_by_xpath("//tbody[@class='lister-list']//td[@class='titleColumn']//a") 
        
print("Moving to the next page")

Moving to the next page

In [5]:
df

                                title                            rating
0     The Shawshank Redemption (1994)   The Shawshank Redemption (1994)
1                The Godfather (1972)              The Godfather (1972)
2       The Godfather: Part II (1974)     The Godfather: Part II (1974)
3              The Dark Knight (2008)            The Dark Knight (2008)
4                 12 Angry Men (1957)               12 Angry Men (1957)
..                                ...                               ...
245             The Terminator (1984)             The Terminator (1984)
246                    Aladdin (1992)                    Aladdin (1992)
247                 Tangerines (2013)                 Tangerines (2013)
248  A Silent Voice: The Movie (2016)  A Silent Voice: The Movie (2016)
249               Winter Sleep (2014)               Winter Sleep (2014)

[250 rows x 2 columns]

In [7]:
print(len(article_url))

250